.input_styles{
    background: transparent;
    border: 0;
    border-bottom: solid 2px white;
    color: white;
    
    
    
} 
::placeholder{
    color: white;
    font-family: 'open sans';
    font-weight: 200;
    font-size: 15px;
}

input{
    margin: 10px;
    outline: none;
    
}